$turqoise: #1aeecb;
$sandy-brown: #f4b070;
$dark-slate-gray: #3a4c63;
$wheat: #f2d9b1;
$old-rose: #be323a;
$purple-light: #af899a;

$color-background: #f4f1de;
$color-title: #e07a5f;
$color-main: #3d405b;
$color-secondary: #81b29a;
$color-alternate: #f2cc8f;